* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header1 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(7, 55, 39, 0.258),
      rgba(112, 122, 160, 0.303)
    ),
    url(images/background.jpeg);

  background-position: center;
  position: relative;
}

:root {
  --primary-color: #024bc0;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: white;
}
/* Navigation bar*/

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li a:hover {
  color: var(--primary-color);
}

nav .fa {
  display: none;
}
/* Main */
.main {
  width: 90%;
  color: var(--light-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main h1 {
  font-size: 62px;
}

.main p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--light-color);
}

/* CLASSES */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Text classes */

.text-xxl {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-md {
  font-size: 19px;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.bold-text {
  font-weight: bolder;
}

.text-black {
  color: var(--dark-color);
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 13px 20px;
  background: #193442;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}
.btn-primary:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-dark:hover {
  background: blue;
  color: var(--light-color);
}

/* Socials classes*/

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 5px 48px 0;
  height: 10px;
}

.socials li {
  margin: 0 15px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 17.6px;
}

.socials i:hover {
  color: grey;
}

/* Footer classes*/

footer {
  position: absolute;
  padding: 0;
  box-sizing: border-box;
  background: #111;
  height: auto;
  width: 100vw;
  color: #fff;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 30px;
}

.footer-content h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 48px;
  height: 30px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 10px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
@media (max-width: 768px) {
  .container-contact2 {
    display: inline-block;
  }
  .container-contact2 .container-contact-left iframe {
    width: 150px;
    height: 150px;
  }
  .content {
    flex-direction: column;
  }
  .aboutus {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aboutus-content {
    width: 500px;
    align-items: center;
    text-align: center;
  }
  .aboutus-image {
    width: 250px;
    height: 250px;
  }
  .container-equipment .row .header h1 {
    padding-top: 30px;
    font-size: 30px;
    color: var(--dark-color);
  }
  .main h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    height: 40%;
    width: 200px;
    top: 0;
    right: -400px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 20px;
  }
  .row-blog {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tips h1 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .row-blog .col-blog {
    width: 300px;
    height: 400px;
    overflow: auto;
  }
  .aboutus-content {
    width: 400px;
    align-items: center;
    text-align: center;
  }
  .aboutus-image {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .container-contact2 {
    display: inline-block;
  }
  .container-contact2 .container-contact-left iframe {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 400px) {
  .row-blog .col-blog {
    width: 250px;
    height: 400px;
    overflow: auto;
  }
  .aboutus-content {
    width: 250px;
  }
  .aboutus-image {
    width: 250px;
  }
  .container-contact-right {
    font-size: 12px;
  }
}
